<!DOCTYPE html>
<html>
  <head>
    <title>Tic Tac Toe Game</title>
  </head>

  <body>
    <header>
      <h1>Tic Tac Toe Game : <%= @game_type %></h1>
    </header>
    <main>
    <div id="board_container">
      <table class="board">
        <% @display.formatted_board.each.with_index do |row, row_index| %>
          <tr>
          <% row.each.with_index do |cell, cell_index| %>
            <% position = cell_index + (row_index * display.board.dimension) + 1 %>
            <td class=<% cell %> id=<%= position %>>
              <a class='button' href="/game/play?position=<%= position %>"><%= cell %></a>
            </td>
          <% end %>
          </tr>
        <% end %>
      </table>
    </div>
    </main>
  </body>
</html>
