<!DOCTYPE html>
<html>
  <head>
    <title>Tic Tac Toe Game</title>
  </head>

  <body>
    <header>
      <h1>Tic Tac Toe Game</h1>
      <h2>Please Choose Your Game Options:</h1>
    </header>
    <main>
      <form action="/" method="put">
        Board Dimensions:<br>
          <input type="radio" name="dimension" value="threebythree" checked >THREE BY THREE<br>
        Player Types:<br>
            <input type="radio" name="game_type" value="HVH" > Human VS Human <br>
        <input type="submit" value="Play!">
      </form>
    </main>
  </body>
</html>
